.create__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.create__container div input{
    width: 100%;
    background-color: transparent;
    height: 2rem;
}
.create__container div{
    margin:2rem 0;
}
.create__container button{
    width: 30%;
    margin: 2rem 0;
}